<style>
    #roleAuthTable + .layui-table-view .layui-table tbody tr:hover {
        background-color: transparent;
    }
    .label_1{
        width: 88px!important;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <!-- <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="lx1" lay-search>
                                <option value="" selected>选择预警类型</option>
                                <option value="010">低预警</option>
                                <option value="021">高预警</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="fw1" lay-search>
                                <option value="" selected>超出范围之值</option>
                                <option value="013">5%-10%</option>
                                <option value="024">10%-12%</option>
                                <option value="0575">12%-15%</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input id="keyWordtSearch" class="layui-input" type="text" placeholder="关键字查询"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="roleBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>查询</button>
                    </div>
                    <div class="layui-inline">
                        <button id="bjpz" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>预警配置</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="roleTable" lay-filter="roleTable"></table>
        </div>
    </div>
</div>
<!-- 表单弹窗 -->
<script type="text/html" id="roleForm1">
    <form lay-filter="roleForm1" class="layui-form model-form">
        <div class="layui-form-item">
            <label class="layui-form-label label_1">低位预警范围</label>
            <div class="layui-input-inline">
                <input name="hight_max_val" placeholder="请输入预警值" type="text" class="layui-input wb70 h30 fl mr10"
                        maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item center">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="roleFormSubmit" lay-submit>确定</button>
        </div>
    </form>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config', 'tableX'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        form.render();
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;
        var tableX = layui.tableX;
        var serverUrl = layui.serverUrl;
        var selectOption = layui.selectOption;
        $(".layui-breadcrumb").find("a").first().html("<i class='layui-icon layui-icon-refresh-3'></i>")
            $(".layui-breadcrumb").find("a").first().attr("href","javascript:void(0);");
            $(".layui-breadcrumb").find("a").first().attr("ew-event","refresh");

        //渲染表格
        table.render({
            elem: '#roleTable',
            url: serverUrl + 'qisheng/Alarmforcast/lst.html',
            // where: {
            //     access_token: config.getToken()
            // },
            page: true,
            // cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'company_name', title: '预警企业'},
                {field: 'buy_power', title: '均到当日购电量'},
                {field: 'real_user_power', title: '实际使用电量'},
                {field: 'area_value', title: '范围比例值'},
                {field: 'alarm_date', title: '预警时间'},
                {field: 'config_common', title: '报警配置备注'}
            ]],
        });


        $('#bjpz').click(function () {
            showEditModel1();
        });

        // 搜索按钮点击事件
        $('#roleBtnSearch').click(function () {
                var keyword = $('#keyWordtSearch').val();
                table.reload('roleTable', {
                where: {
                    where: { 
                        'search_word': keyword
                    } 
                }
            });
        });

         // 显示编辑弹窗
         function showEditModel1(data) {
            admin.open({
                type: 1,
                area: '560px',
                offset: 'auto',
                title: '报警配置',
                content: $('#roleForm1').html(),
                success: function (data) {
                    // 表单提交事件
                    form.on('submit(roleFormSubmit)', function (d) {
                        layer.load(2);
                        selectOption.send_req('qisheng/Alarmforcast/alram_forcastconfig.html', d.field, function(data){
                            layer.closeAll('loading');
                            table.reload('roleTable');
                            layer.closeAll();
                        })
                        return false;
                    });
                }
            });
        }

    });
</script>