<form class="layui-form model-form" id="formPsw">
    <div class="layui-form-item">
        <label class="layui-form-label">原始密码:</label>
        <div class="layui-input-block">
            <input type="password" name="org_pwd" placeholder="请输入原始密码" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="new_pwd" placeholder="请输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码:</label>
        <div class="layui-input-block">
            <input type="password" name="rePsw" placeholder="请再次输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|repsw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="submitPsw" lay-submit>保存</button>
        </div>
    </div>
</form>
<script>
    layui.use(['layer', 'form', 'config', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var config = layui.config;
        var admin = layui.admin;
        var selectOption = layui.selectOption;

        // 监听修改密码表单提交
        form.on('submit(submitPsw)', function (d) {
            layer.load(2);
            d.field.user_id = config.getToken().user_id
            selectOption.send_req('qisheng/User/update_password', d.field, function(data){
                layer.closeAll('loading');
                layer.closeAll('page');
                layer.msg('修改成功',{
                    icon: 1,
                    time: 1000
                });
            })
            return false;
        });

        // 添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            repsw: function (t) {
                if (t !== $('#formPsw input[name=new_pwd]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>